Code/DataFactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "05 - Get File List Utility",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"GetFileQuery": "SELECT * FROM [dbo].[FilesToUpload] WHERE [Enabled] = 1;"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Test",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineRunId",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Demo Pipelines/Data Uploads"
		},
		"annotations": []
	}
}